@import "tailwindcss";
@source "../../../../packages/ui/src";
@import "@repo/ui/tailwind.css";

@layer base {
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  html,
  body {
    height: 100%;
  }

  body {
    @apply bg-background text-foreground;
    font-family: var(--font-poppins), sans-serif;
  }
}
